<h1><%= @classified.title %></h1>


    <br />
	<p>
	<strong>Definition: </strong> <%= @classified.location %><br />
	<% if not @classified.category.blank? %>
	<strong>Category: </strong> <%= link_to @classified.category.name, category_path(@classified.category) %><br />
	<%end%>	
	<br />
	<strong>Word in Context: </strong> 

	
	<p><%= @classified.description %></p>
	
	<% unless @classified.picture.blank? %>
	<%= image_tag(url_for({:action => 'image', :id => @classified.id})) -%>
	<% end %>
	<br />
	<hr />
	
	<p>Interested?  <%= link_to_function('E-mail to a friend', "Element.show('email')") %></p>


<div id="email" style="display: none;">
	<% form_remote_tag(:url => {:action => 'email', :id => @classified.id}, :multipart => true) do -%>
	E-mail: <%= text_field "user", "email" -%><br />
	<%= submit_tag 'Email Word' -%>
	<% end -%>
	</div>
<br />
<%= link_to 'Back', root_path %>