<h1>Post new word</h1>

<%= error_messages_for 'classified' -%>
<% form_tag (classifieds_path, :multipart => true) do %>

	<p><label for="classified_title">Word</label><br />
	<%= text_field 'classified', 'title' %></p>
	
	<p><label for="classified_location">Location</label><br />
	<%= text_field 'classified', 'location' %></p>
	
	<p><label for="classified_description">Description</label><br />
	<%= text_area 'classified', 'description' %></p>
	
	<p><label for="classified_category">Category</label><br />
	<%= collection_select(:classified, :category_id, @categories, :id, :name) %></p>	
		
	<%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', root_path %>