<h1><%= @word.term %></h1>


    <br />
	<p>
	<strong>Definition: </strong> <%= @word.definition %><br />
	<% if not @word.category.blank? %>
	<strong>Category: </strong> <%= link_to @word.category.name, category_path(@word.category) %><br />
	<%end%>	
	<br />
	<strong>Word in Context: </strong> 

	
	<p><%= @word.word_in_context %></p>
	
	<%# unless @word.picture.blank? %>
	<%#= image_tag(url_for({:action => 'image', :id => @word.id})) -%>
	<%# end %>
	<br />
	
	<% if can_edit?(@word) %>
	<%= admin_tools_for (@word) %>
	<% end %>
	
	<hr />
	
	<p>Interested?  <%= link_to_function('E-mail to a friend', "Element.show('email')") %></p>


<div id="email" style="display: none;">
	<% form_remote_tag(:url => {:action => 'email', :id => @word.id}, :multipart => true) do -%>
	E-mail: <%= text_field "user", "email" -%><br />
	<%= submit_tag 'Email Word' -%>
	<% end -%>
	</div>
<br />
<%= link_to 'Back', root_path %>
